{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <button type="button" class="{{ message.tags }}" disabled>{{ message }}</button>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="mx-5">
        <div class="col-12">
            <h1>Profile page</h1>
                <img class="profile-pic" src="{{ user.profile_picture.url }}" alt="{{ user.username }}">
            <p>Username: {{ user.username }}</p>
            <p>First_name: {{ user.first_name }}</p>
            <p>Last_name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <a href="{% url 'user:update' %}"><button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-edit"></i>   Edit</button></a>

        </div>
    </div>
</div>
{% endblock content %}